APP_NAME=ProductService
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8003

DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=product_db
DB_USERNAME=postgres
DB_PASSWORD=

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

JWT_SECRET=shared_jwt_secret_for_all_services_must_be_32_chars
